@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,700;1,800&family=Ubuntu:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

body {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center;
}

button {
  background-color: #E7ECEF;
  color: #000;
  border: none;
  padding: .3rem .6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
  border-radius: 10px;
}

button:hover {
  background-color: #13293D;
  color: #fff;
}

button:hover>i {
  color: #fff;
}

button i {
  color: #000;
  font-weight: bold;
  pointer-events: none;
  padding: 0 5px;
}

input,
select {
  padding: .25rem .5rem;
}

.hide {
  display: none;
}

/* Header */
.todo-container {
  max-width: 450px;
  margin: 3rem auto;
  padding: 1.5rem;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.todo-container h1 {
  color: #fff;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

/* Formulários */
#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: .5rem;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
  width: 50%;
  height: 25px;
}

#cancel-edit-btn {
  margin-top: 1.2rem;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 20px;
  padding: 10px 30px;
}

/* Toolbar */
#toolbar {
  padding: 1rem;
  display: flex;
}

#toolbar h4 {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1rem;
}

#search {
  border-right: 1px solid #ccc;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

/* To-do list */
.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  transition: 0.3s all ease-in-out;
}

.todo h3 {
  flex: 1;
  font-size: .9rem;
  color: #fff;
  font-size: 1rem;
}

.todo button {
  margin-left: 0.4rem;
}

.done {
  background: rgba(0, 0, 0, 0.445);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.done h3 {
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}